<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My catalog</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <%- include('../partials/_navbar.ejs') %>
    </header>
    <main>
        <h1>My Beats</h1><br>
        <ul>
            <% catalog.forEach((beat) => { %>
                <li>
                    <a href="/users/<%= user._id %>/beats/<%= beat._id %>/edit" class="text-button"><%= beat.title %></a>
                    <span><%= beat.genre %></span>
                    <span><%= beat.tempo + ' bpm' %></span>
                    <span><%= beat.keyLetter + beat.keyAccidental + ' ' + beat.keyScale%></span>
                    <% if (beat.price === 0) { %>
                        <span>Free</span>
                    <% } else { %>
                        <span><%= '$' + beat.price %></span>
                    <% } %>
                </li>
            <% }); %>
        </ul>
    </main>
</body>
</html>