<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>producer page</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <%- include('../partials/_navbar.ejs') %>
    </header>
    <main>
        <h1><%= currentUser.username %></h1>
        <ul>
            <% currentUser.catalog.forEach((beat) => { %>
                <li>
                    <a href="" class="text-button"><%= beat.title %></a>
                    <span><%= beat.genre %></span>
                    <span><%= beat.tempo + ' bpm' %></span>
                    <span><%= beat.keyLetter + beat.keyAccidental + ' ' + beat.keyScale%></span>
                    <span><%= '$' + beat.price %></span>
                </li>
            <% }); %>
        </ul>
    </main>    
</body>
</html>